.table-responsive {
  overflow-x: auto; /* ✅ Small screens ke liye horizontal scrolling */
}

.tenant-table {
  color: orange yellow;
  width: 100%;
  border-collapse: collapse;
}

.tenant-table th, td {
  white-space: nowrap; /* ✅ Text wrap hone se rokta hai */
  padding: 10px;
  text-align: left;
}

.tenant-table th {
  background-color: rgb(243, 201, 17);
  color: black;
}

@media (max-width: 768px) {
  th, td {
    font-size: 14px;
    padding: 8px;
  }
}
