.login-container {
  background-image: url("../img/p1.jpg"); 
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

 
  .container {
    background: rgba(255, 255, 255, 0.1); /* Reduced opacity */
    padding: 30px;
    border-radius: 10px;
    box-shadow: none; /* Removing shadow */
    backdrop-filter: blur(5px); /* Adding a blur effect for a glass effect */
  }